$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

//SETTINGS

$nav-bg-color: #1D508C;
$planning-bg-color: #EEF1F3;

$link-color: #2B76B0;
$text-color: #878F95;

$experience-color: #288AD6;
$attraction-color: #47A899;
$restaurant-color: #FA5E5B;




.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//GENERAl

html, body{
    height: 100%;
    background-color: $planning-bg-color;
    overflow: hidden;
}

body{
    padding-top:55px;    
}

p{
    margin:0px;
}

// PLACE CATEGORIES
.glyphicon-star-empty{
    color: $experience-color;
}
.glyphicon-cutlery{
    color: $restaurant-color;
}
.glyphicon-eye-open{
    color: $attraction-color;
}




// ------ NAV BAR ------ 

// OVERRIDES

.navbar-nav > li > a{
    padding-top:17px;
    padding-bottom:17px;
}

// CUSTOM STYLES
.lp-brand{
    height: 43px;
    margin: 7px 10px 0 0;
    width: 82px;
    vertical-align: top;
    z-index: 3;
    padding-top: 3px;
    margin-left:20px;
    outline:none;        

    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2282%22%20height%3D%22289%22%20viewBox%3D%220%200%2082%20289%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Elp-logo%3C%2Ftitle%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M79.609%2027.58v-1.535h.452l.544%201.087.109.228.125-.248.557-1.068h.396v1.535h-.294v-1.286l-.671%201.286h-.268l-.658-1.304v1.304h-.292zm-1.365%200v-1.353h-.754v-.182h1.815v.182h-.754v1.353h-.307zm-37.452%2011.119c-7.804%200-14.422-4.912-16.883-11.888l-1.028.351-1.02.354c2.687%207.898%2010.145%2013.484%2018.936%2013.484%208.746%200%2016.211-5.645%2018.941-13.45l-2.037-.771c-2.479%206.931-9.129%2011.92-16.909%2011.92zm-13.914-16.136l-2.456-.449c-1.244.951-2.662.538-3.112-.882h6.137v3.908h2.815v-1.848c.353%201.998%202.926%202.676%204.315%201.184%200%20.438-.05.954-.184%201.374-.445%201.079-1.935%201.079-2.706.356l-1.75%202.283c1.116.891%202.247%201.32%203.689%201.182%201.189-.12%202.001-.331%202.909-1.156.689-.777%201.116-1.586%201.116-2.629v-9.627h-3.166v5.328c0%201.064-1.408%201.064-1.408%200v-5.328h-2.815v-3.554h-2.815v6.314c-1.054-2.061-2.841-3.124-5.104-2.804-1.624.367-2.82%201.274-3.445%202.804-.564-1.814-1.91-2.777-3.762-2.875-1.961%200-3.432.969-4.024%202.875-.989-2.198-2.996-3.262-5.356-2.721-1.417.448-2.237%201.2-2.942%202.529v-6.122h-2.814v12.434h2.814v-2.691c1.056%201.706%202.354%202.647%204.24%202.686%202.008-.12%203.151-1.082%204.206-2.878v2.883h2.817v-5.328c0-1.066%201.759-1.066%201.759%200v5.328h3.166v-2.709c.353%201.474%201.623%202.365%203.179%202.768%203.405.325%204.68-2.039%204.698-2.635zm-19.999-.051c-1.038%200-1.878-.854-1.878-1.901%200-1.043.84-1.897%201.878-1.897%201.036%200%201.878.854%201.878%201.897%200%201.046-.841%201.901-1.878%201.901zm18.015-2.342h-3.65c.565-1.778%203.062-1.778%203.65%200zm56.996%201.56l-.133.118c-.528.433-1.311.236-1.584-.361-.283-.853-.136-1.676-.136-2.742h1.954v-2.486h-2.112v-1.778h-2.815v4.538c-.351-1.255-1.244-1.979-2.472-2.547-2.458-.879-4.784.156-5.866%202.547-.427-1.255-1.058-2.024-2.256-2.594-2.377-.841-4.661.157-5.486%202.594-.655-1.53-1.581-2.334-3.205-2.786-2.188-.366-3.939.597-4.995%202.594v-6.122h-3.168v6.122c-.351-.751-.726-1.284-1.368-1.815-3.044-2.227-7.078-.007-7.078%203.741v7.941h3.039c0-.71-.091-3.908-.091-3.908l.244.138c2.214.569%204.55-.561%205.254-2.309v2.526h3.168v-2.526c.703%201.832%202.472%202.886%204.495%202.739.936.061%201.712-2.367%201.714-1.673l-.005%201.815h1.985l2.721-.189v-5.505c0-1.145%201.943-1.328%202.04-.156.023%201.801.101%203.718.101%205.494h2.786v-2.709c.702%201.23%201.319%201.942%202.51%202.529%202.352.776%204.839.397%205.757-2.501l-2.466-.482c-.569.863-2.591%201.032-3.236-.745h5.983c0%201.42.029%202.576%201.3%203.511%201.274.936%203.559.075%203.532-.531l-.109-2.481zm-36.052.833c-1.035%200-1.881-.856-1.881-1.899%200-1.041.846-1.899%201.881-1.899%201.035%200%201.88.858%201.88%201.899%200%201.043-.845%201.899-1.88%201.899zm10.967%200c-1.036%200-1.878-.856-1.878-1.899%200-1.041.841-1.899%201.878-1.899%201.035%200%201.88.858%201.88%201.899%200%201.043-.845%201.899-1.88%201.899zm14.36-2.393c.491-1.778%203.03-1.778%203.598%200h-3.598zm-30.36-17.825c7.802%200%2014.424%205%2016.885%2012.108l1.027-.358%201.02-.362c-2.687-8.044-10.142-13.733-18.938-13.733-8.744%200-16.211%205.75-18.94%2013.701l2.039.782c2.477-7.059%209.128-12.138%2016.907-12.138zm0%200%22%20fill%3D%22%233A434E%22%2F%3E%3Cpath%20d%3D%22M79.609%2076.58v-1.535h.452l.544%201.087.109.228.125-.248.557-1.068h.396v1.535h-.294v-1.286l-.671%201.286h-.268l-.658-1.304v1.304h-.292zm-1.365%200v-1.353h-.754v-.182h1.815v.182h-.754v1.353h-.307zm-37.452%2011.119c-7.804%200-14.422-4.912-16.883-11.888l-1.028.351-1.02.354c2.687%207.898%2010.145%2013.484%2018.936%2013.484%208.746%200%2016.211-5.645%2018.941-13.45l-2.037-.771c-2.479%206.931-9.129%2011.92-16.909%2011.92zm-13.914-16.136l-2.456-.449c-1.244.951-2.662.538-3.112-.882h6.137v3.908h2.815v-1.848c.353%201.998%202.926%202.676%204.315%201.184%200%20.438-.05.954-.184%201.374-.445%201.079-1.935%201.079-2.706.356l-1.75%202.283c1.116.891%202.247%201.32%203.689%201.182%201.189-.12%202.001-.331%202.909-1.156.689-.777%201.116-1.586%201.116-2.629v-9.627h-3.166v5.328c0%201.064-1.408%201.064-1.408%200v-5.328h-2.815v-3.554h-2.815v6.314c-1.054-2.061-2.841-3.124-5.104-2.804-1.624.367-2.82%201.274-3.445%202.804-.564-1.814-1.91-2.777-3.762-2.875-1.961%200-3.432.969-4.024%202.875-.989-2.198-2.996-3.262-5.356-2.721-1.417.448-2.237%201.2-2.942%202.529v-6.122h-2.814v12.434h2.814v-2.691c1.056%201.706%202.354%202.647%204.24%202.686%202.008-.12%203.151-1.082%204.206-2.878v2.883h2.817v-5.328c0-1.066%201.759-1.066%201.759%200v5.328h3.166v-2.709c.353%201.474%201.623%202.365%203.179%202.768%203.405.325%204.68-2.039%204.698-2.635zm-19.999-.051c-1.038%200-1.878-.854-1.878-1.901%200-1.043.84-1.897%201.878-1.897%201.036%200%201.878.854%201.878%201.897%200%201.046-.841%201.901-1.878%201.901zm18.015-2.342h-3.65c.565-1.778%203.062-1.778%203.65%200zm56.996%201.56l-.133.118c-.528.433-1.311.236-1.584-.361-.283-.853-.136-1.676-.136-2.742h1.954v-2.486h-2.112v-1.778h-2.815v4.538c-.351-1.255-1.244-1.979-2.472-2.547-2.458-.879-4.784.156-5.866%202.547-.427-1.255-1.058-2.024-2.256-2.594-2.377-.841-4.661.157-5.486%202.594-.655-1.53-1.581-2.334-3.205-2.786-2.188-.366-3.939.597-4.995%202.594v-6.122h-3.168v6.122c-.351-.751-.726-1.284-1.368-1.815-3.044-2.227-7.078-.007-7.078%203.741v7.941h3.039c0-.71-.091-3.908-.091-3.908l.244.138c2.214.569%204.55-.561%205.254-2.309v2.526h3.168v-2.526c.703%201.832%202.472%202.886%204.495%202.739.936.061%201.712-2.367%201.714-1.673l-.005%201.815h1.985l2.721-.189v-5.505c0-1.145%201.943-1.328%202.04-.156.023%201.801.101%203.718.101%205.494h2.786v-2.709c.702%201.23%201.319%201.942%202.51%202.529%202.352.776%204.839.397%205.757-2.501l-2.466-.482c-.569.863-2.591%201.032-3.236-.745h5.983c0%201.42.029%202.576%201.3%203.511%201.274.936%203.559.075%203.532-.531l-.109-2.481zm-36.052.833c-1.035%200-1.881-.856-1.881-1.899%200-1.041.846-1.899%201.881-1.899%201.035%200%201.88.858%201.88%201.899%200%201.043-.845%201.899-1.88%201.899zm10.967%200c-1.036%200-1.878-.856-1.878-1.899%200-1.041.841-1.899%201.878-1.899%201.035%200%201.88.858%201.88%201.899%200%201.043-.845%201.899-1.88%201.899zm14.36-2.393c.491-1.778%203.03-1.778%203.598%200h-3.598zm-30.36-17.825c7.802%200%2014.424%205%2016.885%2012.108l1.027-.358%201.02-.362c-2.687-8.044-10.142-13.733-18.938-13.733-8.744%200-16.211%205.75-18.94%2013.701l2.039.782c2.477-7.059%209.128-12.138%2016.907-12.138zm0%200%22%20fill%3D%22%2367737B%22%2F%3E%3Cpath%20d%3D%22M79.609%20125.58v-1.535h.452l.544%201.087.109.228.125-.248.557-1.068h.396v1.535h-.294v-1.286l-.671%201.286h-.268l-.658-1.304v1.304h-.292zm-1.365%200v-1.353h-.754v-.182h1.815v.182h-.754v1.353h-.307zm-37.452%2011.119c-7.804%200-14.422-4.912-16.883-11.888l-1.028.351-1.02.354c2.687%207.898%2010.145%2013.484%2018.936%2013.484%208.746%200%2016.211-5.645%2018.941-13.45l-2.037-.771c-2.479%206.931-9.129%2011.92-16.909%2011.92zm-13.914-16.136l-2.456-.449c-1.244.951-2.662.538-3.112-.882h6.137v3.908h2.815v-1.848c.353%201.998%202.926%202.676%204.315%201.184%200%20.438-.05.954-.184%201.374-.445%201.079-1.935%201.079-2.706.356l-1.75%202.283c1.116.891%202.247%201.32%203.689%201.182%201.189-.12%202.001-.331%202.909-1.156.689-.777%201.116-1.586%201.116-2.629v-9.627h-3.166v5.328c0%201.064-1.408%201.064-1.408%200v-5.328h-2.815v-3.554h-2.815v6.314c-1.054-2.061-2.841-3.124-5.104-2.804-1.624.367-2.82%201.274-3.445%202.804-.564-1.814-1.91-2.777-3.762-2.875-1.961%200-3.432.969-4.024%202.875-.989-2.198-2.996-3.262-5.356-2.721-1.417.448-2.237%201.2-2.942%202.529v-6.122h-2.814v12.434h2.814v-2.691c1.056%201.706%202.354%202.647%204.24%202.686%202.008-.12%203.151-1.082%204.206-2.878v2.883h2.817v-5.328c0-1.066%201.759-1.066%201.759%200v5.328h3.166v-2.709c.353%201.474%201.623%202.365%203.179%202.768%203.405.325%204.68-2.039%204.698-2.635zm-19.999-.051c-1.038%200-1.878-.854-1.878-1.901%200-1.043.84-1.897%201.878-1.897%201.036%200%201.878.854%201.878%201.897%200%201.046-.841%201.901-1.878%201.901zm18.015-2.342h-3.65c.565-1.778%203.062-1.778%203.65%200zm56.996%201.56l-.133.118c-.528.433-1.311.236-1.584-.361-.283-.853-.136-1.676-.136-2.742h1.954v-2.486h-2.112v-1.778h-2.815v4.538c-.351-1.255-1.244-1.979-2.472-2.547-2.458-.879-4.784.156-5.866%202.547-.427-1.255-1.058-2.024-2.256-2.594-2.377-.841-4.661.157-5.486%202.594-.655-1.53-1.581-2.334-3.205-2.786-2.188-.366-3.939.597-4.995%202.594v-6.122h-3.168v6.122c-.351-.751-.726-1.284-1.368-1.815-3.044-2.227-7.078-.007-7.078%203.741v7.941h3.039c0-.71-.091-3.908-.091-3.908l.244.138c2.214.569%204.55-.561%205.254-2.309v2.526h3.168v-2.526c.703%201.832%202.472%202.886%204.495%202.739.936.061%201.712-2.367%201.714-1.673l-.005%201.815h1.985l2.721-.189v-5.505c0-1.145%201.943-1.328%202.04-.156.023%201.801.101%203.718.101%205.494h2.786v-2.709c.702%201.23%201.319%201.942%202.51%202.529%202.352.776%204.839.397%205.757-2.501l-2.466-.482c-.569.863-2.591%201.032-3.236-.745h5.983c0%201.42.029%202.576%201.3%203.511%201.274.936%203.559.075%203.532-.531l-.109-2.481zm-36.052.833c-1.035%200-1.881-.856-1.881-1.899%200-1.041.846-1.899%201.881-1.899%201.035%200%201.88.858%201.88%201.899%200%201.043-.845%201.899-1.88%201.899zm10.967%200c-1.036%200-1.878-.856-1.878-1.899%200-1.041.841-1.899%201.878-1.899%201.035%200%201.88.858%201.88%201.899%200%201.043-.845%201.899-1.88%201.899zm14.36-2.393c.491-1.778%203.03-1.778%203.598%200h-3.598zm-30.36-17.825c7.802%200%2014.424%205%2016.885%2012.108l1.027-.358%201.02-.362c-2.687-8.044-10.142-13.733-18.938-13.733-8.744%200-16.211%205.75-18.94%2013.701l2.039.782c2.477-7.059%209.128-12.138%2016.907-12.138zm0%200%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M79.609%20174.58v-1.535h.452l.544%201.087.109.228.125-.248.557-1.068h.396v1.535h-.294v-1.286l-.671%201.286h-.268l-.658-1.304v1.304h-.292zm-1.365%200v-1.353h-.754v-.182h1.815v.182h-.754v1.353h-.307zm-37.452%2011.119c-7.804%200-14.422-4.912-16.883-11.888l-1.028.351-1.02.354c2.687%207.898%2010.145%2013.484%2018.936%2013.484%208.746%200%2016.211-5.645%2018.941-13.45l-2.037-.771c-2.479%206.931-9.129%2011.92-16.909%2011.92zm-13.914-16.136l-2.456-.449c-1.244.951-2.662.538-3.112-.882h6.137v3.908h2.815v-1.848c.353%201.998%202.926%202.676%204.315%201.184%200%20.438-.05.954-.184%201.374-.445%201.079-1.935%201.079-2.706.356l-1.75%202.283c1.116.891%202.247%201.32%203.689%201.182%201.189-.12%202.001-.331%202.909-1.156.689-.777%201.116-1.586%201.116-2.629v-9.627h-3.166v5.328c0%201.064-1.408%201.064-1.408%200v-5.328h-2.815v-3.554h-2.815v6.314c-1.054-2.061-2.841-3.124-5.104-2.804-1.624.367-2.82%201.274-3.445%202.804-.564-1.814-1.91-2.777-3.762-2.875-1.961%200-3.432.969-4.024%202.875-.989-2.198-2.996-3.262-5.356-2.721-1.417.448-2.237%201.2-2.942%202.529v-6.122h-2.814v12.434h2.814v-2.691c1.056%201.706%202.354%202.647%204.24%202.686%202.008-.12%203.151-1.082%204.206-2.878v2.883h2.817v-5.328c0-1.066%201.759-1.066%201.759%200v5.328h3.166v-2.709c.353%201.474%201.623%202.365%203.179%202.768%203.405.325%204.68-2.039%204.698-2.635zm-19.999-.051c-1.038%200-1.878-.854-1.878-1.901%200-1.043.84-1.897%201.878-1.897%201.036%200%201.878.854%201.878%201.897%200%201.046-.841%201.901-1.878%201.901zm18.015-2.342h-3.65c.565-1.778%203.062-1.778%203.65%200zm56.996%201.56l-.133.118c-.528.433-1.311.236-1.584-.361-.283-.853-.136-1.676-.136-2.742h1.954v-2.486h-2.112v-1.778h-2.815v4.538c-.351-1.255-1.244-1.979-2.472-2.547-2.458-.879-4.784.156-5.866%202.547-.427-1.255-1.058-2.024-2.256-2.594-2.377-.841-4.661.157-5.486%202.594-.655-1.53-1.581-2.334-3.205-2.786-2.188-.366-3.939.597-4.995%202.594v-6.122h-3.168v6.122c-.351-.751-.726-1.284-1.368-1.815-3.044-2.227-7.078-.007-7.078%203.741v7.941h3.039c0-.71-.091-3.908-.091-3.908l.244.138c2.214.569%204.55-.561%205.254-2.309v2.526h3.168v-2.526c.703%201.832%202.472%202.886%204.495%202.739.936.061%201.712-2.367%201.714-1.673l-.005%201.815h1.985l2.721-.189v-5.505c0-1.145%201.943-1.328%202.04-.156.023%201.801.101%203.718.101%205.494h2.786v-2.709c.702%201.23%201.319%201.942%202.51%202.529%202.352.776%204.839.397%205.757-2.501l-2.466-.482c-.569.863-2.591%201.032-3.236-.745h5.983c0%201.42.029%202.576%201.3%203.511%201.274.936%203.559.075%203.532-.531l-.109-2.481zm-36.052.833c-1.035%200-1.881-.856-1.881-1.899%200-1.041.846-1.899%201.881-1.899%201.035%200%201.88.858%201.88%201.899%200%201.043-.845%201.899-1.88%201.899zm10.967%200c-1.036%200-1.878-.856-1.878-1.899%200-1.041.841-1.899%201.878-1.899%201.035%200%201.88.858%201.88%201.899%200%201.043-.845%201.899-1.88%201.899zm14.36-2.393c.491-1.778%203.03-1.778%203.598%200h-3.598zm-30.36-17.825c7.802%200%2014.424%205%2016.885%2012.108l1.027-.358%201.02-.362c-2.687-8.044-10.142-13.733-18.938-13.733-8.744%200-16.211%205.75-18.94%2013.701l2.039.782c2.477-7.059%209.128-12.138%2016.907-12.138zm0%200%22%20fill%3D%22%23206FAC%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 0 40%;
}

.planner-nav-bar{
    height:55px;
    margin-bottom:0px;

    background-color:$nav-bg-color;
}
.nav .planner-navbar-link{
    color:#FFF;    
    &:hover{
        background-color: lighten($nav-bg-color, 5%);
    }
}
.planner-navbar-searchform{
    margin-top:10px;
    margin-bottom:10px;

    .form-control{
        border-radius: 16px;
        
        color:#FFF;
        opacity: 0.7;    
        background-color: darken($nav-bg-color, 5%);
        border: 1px solid darken($nav-bg-color, 5%);

        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        transition: all 200ms linear;

        &::-webkit-input-placeholder { 
            color:#FFF;
            opacity: 0.7;     
        }


        &:focus{
            color:$text-color;
            opacity:1;
            background-color:#FFF;
            &::-webkit-input-placeholder { 
                color:$text-color;
                opacity: 0.7;     
            }
        }
    }
}   
.btn-navbar-search{
    border-radius: 16px;

    background-color: darken($nav-bg-color, 5%);
    color:#FFF;
    opacity: 0.7;    
    outline:none;

    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;


    &:hover{
        color:#FFF;
        opacity:1;
        background-color: lighten($nav-bg-color, 5%);
        outline:none;
    }
    &:active, &:focus{
        outline:none;
    }
}



    



// PLANNING
.planning-block{
    background-color:#FFF;
    width:100%;    
    padding:15px 10px;
}

.planning-day{    
    float:left;
    height:40px;    
    padding:10px 10px;
    width:100%;  

    background-color:$planning-bg-color;    
        
    text-transform: uppercase;
    color: lighten($text-color, 5%);
}
.planning-city-block{
    float:left;
    width:100%;    
}
.planning-city{    
    width:100%;    
    padding:15px 10px;   
    margin-bottom: 0px;

    border-top:1px solid darken($planning-bg-color, 5%);

    background-color:#FFF;
    color: $link-color;

    font-size:1.2em;
    .glyphicon{
        float:right;
        font-size: 0.9em;        
    }
}
.planning-place{    
    width:100%;        
    float:left;

    border-top:1px solid darken($planning-bg-color, 5%);
    color: darken($text-color, 30%);
    background-color:#FFF;

    .planning-place-image{
        float:left;
        margin-right:10px;
    }
    .planning-place-title{      
        padding-top:10px;
        float:left;
        width:70%;  
    }
}

.planner-planning{
    padding-right:0px;
    padding-left:0px;
}
.planner-content{
    padding-left:0px;    
    height: 100%;

    border-left:1px solid darken($planning-bg-color, 10%);
}



// PLANNING CONTENT

.planning-content{
    padding:30px;    
}

.planning-content-content{
    height: 100%;
    overflow:auto;
    padding-bottom:70px;
}

.planning-content-header{
    margin-bottom:30px;
}


.planning-content-title{
    color: darken($text-color, 50%);
    font-size:2.5em;
}
.planning-content-subtitle{
    color: $text-color;
    font-size:1em;
}

.planning-content-item{
    position:relative;
    z-index:1;

    padding:0px;
    border-radius:0px;
    border:0px;
    height: 310px;  

    overflow:hidden;

    .caption{
        padding: 5px 10px;
    }
    .planning-content-item-image{
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;        

        overflow: hidden;
        text-align: center;
        width: 100%;
        height: 200px;
    }
    img{

        position:relative;
        z-index:-1;
        left:100%;
        margin-left:-200%;
    }

    &:hover{
        .planning-content-item-image{                    
            height: 50px;
            background-color:rgba(0,0,0,0.5);
        }
    }

    &:before{
        content:'';
        position: absolute;
        bottom: -1px;
        box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 1);
        height: 1px;
        width: 100%;
        left: 0px;
    }

}

.planning-content-item-title{
    font-size:1.3em;
    color:darken($text-color, 30%);
}

.planning-content-item-category{
    color:$text-color;   
    font-size:0.8em;
}
.planning-content-item-description{
    margin-top:10px;
    font-size:0.8em;
    text-align: justify;
    line-height: 1.6em;
}


// HELPERS

// full size body
.full-height{        
    height: 100%;
    min-height: 100%;    
}


