<div class="landing" ng-controller="LandingController">
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Trip Planner</h3>              
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">Where do you want to go?</h1>            
          <div class="row with-margin">          
            <div class="col-md-12">
              <input ng-autocomplete options="options" details="details" ng-model="mainCity" type="text" class="form-control big" placeholder="Search" name="srch-term" id="srch-term">                        
            </div>
          </div>
          <div class="trip-dates row with-margin">            
            <div class="col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Init date">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>  
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="End date">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>  
              </div>              
            </div>                       
          </div>
          <div class="row with-margin">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary btn-lg btn-block">Plan trip</button>  
            </div>            
          </div>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>Trip planner for you by <a href="https://www.lonelyplanet.com">LonelyPlanet</a>.</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>  