

<div class="full-height planning-content col-md-9">

  <div class="row planning-content-header">
    <div class="col-md-10">
      <p class="planning-content-title">
        New York
      </p>
      <p class="planning-content-subtitle">
        New york, United states of America
      </p>
    </div>
    <div class="col-md-2">
      <p class="planning-content-subtitle">
        Filter by Categories
      </p>
    </div>
  </div>

  <div class="row planning-content-content">

    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">                  
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">                    
        </div>                
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-eye-open"></span>
            Attraction
          </p>     
          <p class="planning-content-item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada metus viverra elit dictum malesuada. Donec sagittis ante et massa pretium aliquet. 
          </p>  
          <span></span>           
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">
        </div>
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-cutlery"></span>
            Restaurant
          </p> 
          <p class="planning-content-item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada metus viverra elit dictum malesuada. Donec sagittis ante et massa pretium aliquet.
          </p>                   
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">
        </div>
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-cutlery"></span>
            Restaurant
          </p>  
          <p class="planning-content-item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada metus viverra elit dictum malesuada. Donec sagittis ante et massa pretium aliquet. 
          </p>                  
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">
        </div>
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-star-empty"></span>
            Experience
          </p>                  
          <p class="planning-content-item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada metus viverra elit dictum malesuada. Donec sagittis ante et massa pretium aliquet. Suspendisse non suscipit augue. 
          </p>  
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">                  
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">                    
        </div>                
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-eye-open"></span>
            Attraction
          </p>                  
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">
        </div>
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-cutlery"></span>
            Restaurant
          </p>                  
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">
        </div>
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-cutlery"></span>
            Restaurant
          </p>                  
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">
        </div>
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-star-empty"></span>
            Experience
          </p>                  
          
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">                  
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">                    
        </div>                
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-eye-open"></span>
            Attraction
          </p>                  
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">
        </div>
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-cutlery"></span>
            Restaurant
          </p>                  
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">
        </div>
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-cutlery"></span>
            Restaurant
          </p>                  
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="planning-content-item thumbnail">
        <div class="planning-content-item-image">
          <img src="/images/newyork.jpg" style="width: 300px; height: 200px;">
        </div>
        <div class="caption">
          <p class="planning-content-item-title">Thumbnail label</p>
          <p class="planning-content-item-category">
            <span class="glyphicon glyphicon-star-empty"></span>
            Experience
          </p>                  
          
        </div>
      </div>
    </div>
  </div>
  
</div>
